* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 25px;
  margin-top: 30px;
  color: #555;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12px;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  font-size: 12px;
  width: 100%;
  padding: 12px;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0 0px 3px #aaa;
}

#logout input {
  -webkit-appearance: none;
  transition: .2s;
  color: #777;
  padding: 3px 10px;
  cursor: pointer;
}

#logout input:hover {
  color: #fff;
  background-color: #777;
}

.container {
  display: flex;
  flex-direction: column-reverse;
}

.all-todo-container {
  margin-top: 30px;
}

.todo-container {
  position: relative;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin: 20px 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul>li {
  padding-bottom: 6px;
  font-size: 10px;
}

#none_message {
  font-size: 10px;
  position: absolute;
  top: 63px;
  left: 10px;
  display: none;
  margin: 0;
}

#new-todo {
  padding: 8px;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 16px;
}

#todos {
  height: 120px;
  overflow: scroll;
  border: 1px solid #aaa;
  padding: 10px;
}

.delete-todo,
.all-delete-todo {
  float: right;
  display: inline-block;
  color: rgb(255, 75, 75);
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: #999;
}

.select {
  background-color: rgb(140, 213, 255);
}

#todo_template,
#all_todo_template {
  display: none;
}

a {
  text-decoration: none;
}

table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
  width: 100%;
}

th {
  background: #eee;
}

.date>td {
  transition: 0.2s;
  transition-property: background-color;
  cursor: pointer;
  position: relative;
}

th,
td {
  padding: 7px 10px;
  text-align: center;
}

.day_of_0 {
  color: red;
}

.day_of_6 {
  color: blue;
}

.today::after {
  width: 100%;
  height: 100%;
  background-color: transparent;
  content: "";
  position: absolute;
  border-bottom: 2px solid #666;
  top: -2px;
  left: 0;
}

.todo-date,
.todo-created {
  font-size: 10px;
  color: #888;
}

.gray {
  color: #dedede;
}

.all-todos-title {
  text-align: center;
  margin-bottom: 10px;
}

#all_todos {
  border: 1px solid #999;
  padding: 10px 10px 4px 10px;
}

#all_todos:empty {
  border: none;
}

@media screen and (min-width:481px) {
  body {
    font-size: 14px;
    padding: 40px;
  }
  table {
    height: 360px;
  }
}

@media screen and (min-width:834px) {
  #none_message {
    position: absolute;
    top: 78px;
    left: 15px;
    display: none;
    margin: 0;
  }
  body {
    font-size: 16px;
  }
  ul>li,
  #none_message {
    font-size: 14px;
  }
  #new-todo {
    margin-bottom: 30px;
  }
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
  .todo-container {
    width: 35%;
    flex-direction: row;
    justify-content: space-between;
  }
  #todos {
    height: 292px;
  }
  table {
    margin-top: 0px;
  }
  table {
    width: 60%;
  }
  .date>td:hover {
    background-color: #eee;
  }
}

@media screen and (min-width:1025px) {
  body {
    font-size: 20px;
    padding: 40px 80px;
  }
}